.header-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--branco);
  
}

.container {
 display: flex;
 align-items: center;
}

.container__imagem {
  padding: 10px;
}

